   /* Google Font */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    color:#111827;
    background:#ffffff;
    line-height:1.6;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}
 /* Reusable Container */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}
   /* navbar */

header{
    background:#ffffff;
    position:sticky;
    top:0;
    z-index:999;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo i{
    width:36px;
    height:36px;
    background: rgb(71, 71, 172);
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:8px;
    font-size:18px;
}

.logo h3{
    font-size:15px;
    line-height:18px;
    font-weight:700;
}
.menu{
    display:flex;
    gap:35px;
}

.menu a{
    color:#555;
    font-size:15px;
    transition:.3s;
}

.menu a:hover{
    color:#2563eb;
}

.btn{
    background:#4477e6;
    color:white;
    padding:12px 24px;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}
.btn:hover{
    background:#184ad4;
}